#ChatUsers {
  margin: 0 20px;
}

h3 {
  font-size: 28px;
}

#chatter {
  color: teal;
}

hr {
  margin: 50px 50px;
}

.chat-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.message-item {
  margin: 0 5rem;
}

.chatter-box {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.chat-ul {
  display: flex; 
  flex-direction: column-reverse;
}

#chatting {
  background-color: #c5dedd;
  width: 70%;
  height: 12rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  padding: 30px;
  border-radius: 5px;
}

.my-message {
  background-color: #c5dedd;
}

.received-message {
  background-color: white;
}

.col {
  width: 100%;
  margin: 10px;
  place-content: center;
}

.input-field {
  background-color: white;
  color: black;
  margin: 0px;
}

.btn {
  display: grid;
  margin: 10px auto;
}