.flash-card {
    font-size: 24px;
    line-height: 72px;
    width: 216px;
    border: 1px solid black;
    margin: 18px;
    cursor: pointer;
    user-select: none;
  }
  
  .flash-card.front{
    background-color: rgb(200, 200, 200);
  }
  
  .flash-card.back {
    background-color: rgb(232, 238, 209)
  }