h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 75px;
}

#avatarImg {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

img {
  border-radius: 50%;
}

#userProfile {
    background-color: #c5dedd;
    width: 70rem;
    height: 37rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 30px;
    border-radius: 5px;
  }
  
  .col {
    margin: 10px;
  }
