.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-width: 20rem;
    width: 60rem;
}

.card-content {
    display: grid;
    justify-content: left;
    align-content: center;
    min-width: 20rem;
    width: 60rem;
}

.resourceCardBtns {
    display: flex;
    width: 100%;
    justify-content: left;
    align-content: left;
    padding: 24px;
}

.btn-div {
    display: flex;
    align-content: top;
    margin: 10px 10px 0 0;
}

.btn {
    margin: 0px;
}
