#Signup {
  background-color: lightgrey;
  width: 70rem;
  height: 42rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 30px;
  border-radius: 5px;
}

h3 {
    margin-top: 0;
}

.col {
  margin: 10px;
}

#name,
#email,
#password,
#confirm {
  background-color: white;
  color: black;
  margin: 0px;
  border-radius: 2px;
}


