main {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#intro {
  height: 15rem;
  width: 50rem;
  display: inline-block;
  margin: auto;
  margin-top: 10rem;
  padding: 10px;
}