main {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#intro {
  height: 15rem;
  width: 50rem;
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.landing-container {
  width: 50rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  font-size: 60px;
  color: teal;
}

.logo {
  height: 24rem;
  width: 24rem;
}