/* body {
  background-color: white; */
  /* Use a system font, if none are available use an available sans-sarif font */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
} */

main {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#intro {
  height: 15rem;
  width: 50rem;
  display: inline-block;
  margin: auto;
  margin-top: 10rem;
  padding: 10px;
}